# Exercise 5-2: Get data from an Excel file

In [8]:
import pandas as pd
import sys
import os
sys.path.append('..')
from utils import unzip_file, download_file

zip_url = 'https://cdn.inst-fs-iad-prod.inscloudgate.net/e47ca629-56b4-497f-87cc-55aef43292e8/oesm18all.zip?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCIsImtpZCI6ImNkbiJ9.eyJyZXNvdXJjZSI6Ii9lNDdjYTYyOS01NmI0LTQ5N2YtODdjYy01NWFlZjQzMjkyZTgvb2VzbTE4YWxsLnppcCIsInRlbmFudCI6ImNhbnZhcyIsImlhdCI6MTc3MDM4MzY3OCwiZXhwIjoxNzcwNDcwMDc4LCJqdGkiOiIyZjBhN2EyMS1iMWQ1LTQ1MGYtYTcwNi1mNjJiMDc4MDk5ZDMifQ.oU6084cnTFv4UgHgatgym0TPD3kVWtZhsIlXANld_hmP5dk4DQN3ruDdiMkUyTjXxTdjm3qltILlrRWeWId9mw&download=1&content_type=application%2Fx-zip-compressed'

file_path = 'oesm18all.zip'
if not os.path.exists(file_path):
    file_path = download_file(zip_url)

xlsx_file, *_ = unzip_file(file_path)

print(xlsx_file)
jobs = pd.read_excel(xlsx_file)
jobs.head()

oesm18all/all_data_M_2018.xlsx

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,...,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly
0,99,U.S.,1,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,...,18.58,30.06,47.31,20690,25740,38640,62510,98410,NaN,NaN
1,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,...,50.11,72.93,#,49260,70880,104240,151700,#,NaN,NaN
2,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-1000,Top Executives,minor,...,49.73,78.81,#,43400,66000,103450,163930,#,NaN,NaN
3,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-1010,Chief Executives,broad,...,91.15,#,#,68360,115960,189600,#,#,NaN,NaN
4,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-1011,Chief Executives,detailed,...,91.15,#,#,68360,115960,189600,#,#,NaN,NaN